/* src/css/managerHome.css */
.manager-home {
  margin-left: 50px; /* largeur de la sidebar */
  min-height: calc(100vh - 60px); /* si la navbar fait 60px de haut */
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #f3f4f6, #e5e7eb);
   padding: 20px;
  box-sizing: border-box;
}

.admin-welcome {
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.admin-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 4px solid #4f46e5;
}

.welcome-title {
  font-size: 28px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 10px;
}

.welcome-quote {
  font-size: 18px;
  color: #4b5563;
  font-style: italic;
}
